<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../assets/img/yo.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{persona.name}} {{persona.surname}}</h2>
        </div>
        <div>
            <div id="info-contact">Developer Fullstack JR. en TENGU</div>
            <div id="info-contact">
                <span>Macachín, Atreucó, La Pampa, Argentina</span>
                <span><a href="#">Información de Contacto</a></span>
            </div>
            <div id="info-actions">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-light">Añadir sección</button>
                <button type="button" class="btn btn-light">Más</button>
            </div>
        </div>

    </div>

    <div class="card">
        <div id="redes">
            <a href="https://facebook.com/0k4m173n6u"><img src="../assets/logos/fb.png" id="fb"></a>
            <a href="https://www.instagram.com/tenguokami/"><img src="../assets/logos/ig.png" id="fb"></a>
            <a href="https://www.linkedin.com/in/sumakorama/"><img src="../assets/logos/ld.webp" id="fb"></a>
            <a href="https://discordapp.com/users/Kamus Amarok#6006"><img src="../assets/logos/dc.png" id="fb"></a>
            <a href="https://github.com/sumakorama"><img src="../assets/logos/gh.png" id="fb"></a>
        </div>
    
        <div class="card-titles">
            <h2>Acerca de</h2>
            <div class="btn-edit" onclick="cambiar_parrafo()">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div>
            <p id="text-acercade">Bienvenido a mi portafolio! Soy Matías estudiante de Ingeniería en Computación y Desarrollo Web y de Software. Por mucho tiempo me he dedicado a estudiar informatica de forma autodidacta, mientras me dedicaba a otros rubros, como la gastronomía y el Arte y Diseño, el Cultivo, y la Feliz tarea de ser Padre.
                En el útimo tiempo y gracias a los avances tecnológicos que impulsó el aislamiento por la pandemia de covid-19, comencé mis estudios formales via online, encontrando en el camino el programa "Argentina Programa", teniendo como trabajo final esta web SPA.
                En esta página podrás encontrar diferentes datos sobre mi persona, entre ellas, mi educación, mis experiencias laborales, mis proyectos actuales, mis redes sociales y mis datos de contacto.</p>
        </div>
        <div>
            <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
        </div>
    </div>
    <!--<div class="card">
        <div class="card-titles">
            <h2>Acerca de</h2>
            <div class="btn-edit" onclick="cambiar_parrafo()">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div>
            <p id="text-acercade">Desarrollador Web, Ilustrador, Maestro pizzero, Brew Master</p>
        </div>
        <div>
            <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
        </div>-->

</div>
