.card-deck{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    /**display: flex;    **/
    background-color:rgba(12, 86, 223, 0.7);
    border-radius: 10px;

}
.card{
    width:auto;
}
#capa{
    background-color: rgba(4, 46, 102, 0.7);
    border-radius: 20px;
}
.card-img-top{
    margin: 2%;
    position:sticky;
    width: 300px;
    border-radius: 200px;
}
div{
    margin:2%;
}
#info-data{
    text-align: left;
    margin-left: 2%;
    font-family: acme;
    color: azure;
}

#text-acercade{
    color: azure;
    font-family: acme;
    font-size: 20px;
    margin-bottom: 0px;
}
#info-contact{
    color: azure;
    font-family: acme;
    font-size: 20px;
}

h2{
    color: azure;
    font-family: acme;
}
h3{
    color: azure;
    font-family: acme;
}
p{
    color: azure;
    font-family: acme;
    margin-top: 5%;
}
#redes{
    float: center;
    width: 300px;
    margin-top: 15px;
    

}
#logo{
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
}

#fb{
    width: 50px;
    border-radius: 8px;

} 
@media (max-width: 666px) {
    .card-deck{        
        display: block;
    }
    .card-img-top{
        width: 200px;
        margin-top: 5%;
        margin-left: 15%;
    }
     
}