.card-deck{
    margin-top: 2.5%;
    display: flex;
    
    background-color:rgba(12, 86, 223, 0.7);
    border-radius: 10px;
}
.card{
    width:auto;
}

div{
    margin:2%;
}
.form-group{
    text-align: left;
    margin-left: 5%;
    font-family: acme;
    color: azure;
}


h2{
    color: azure;
    font-family: acme;
}
h1{
    color: azure;
    font-family: acme;
}
p{
    color: azure;
    font-family: acme;
}