.clearfix {
    float: none;
    clear: both;
}

header {
    height: 120px;
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
    background-color: rgb(0, 27, 60);
}

#logo{
    width:40%;    
    cursor:pointer;
    transition:all 300ms ;
    margin-top: 20px;
}
#icon {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80px;
    display: flex;
}
#logo h3{
    display: flex;
    float: left;
    font-family: acme;
    color: azure;
    font-size: 35px;
    text-align: center;
    margin-left: 5%;
    margin-top: 30px;
    transition: all 300ms;
}
#logo h3:hover{
    color: rgb(156, 193, 241);
}
#logo a{
    float: left;
}

#menu a{
   margin-right: 5px;
}


#menu {
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    float: right;
    color: azure;
    background: transparent;
    font-family: acme;
    
}

#menu ul{
    width:100%;
}

#menu ul li {
    font-size: 18px;
    display: inline-block;
    margin-top: 3%;
    margin-right: 0%;
  
}
.menu ul li a {
    color: white;
}

.menu-item {
    margin: 1%;
    cursor: pointer;
    transition: 0.5s;
    color: azure;
    margin-bottom: 8px;
}
.menu-item:hover {
    color:rgb(126, 126, 171);
}

.cta {
    padding: 10px 24px;
    border-radius: 15px;
    background-color: var(--main-color);
    color: rgb(157, 155, 155);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 8px;

}

.cta:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 140, 255, 0.3);
    border-radius: 40px;
}

@media (max-width: 980px){
    #icon{
        margin-top: 28%;
        width: 61px;
    }
    #logo h3{
        margin-top: 40px;
        font-size: 24px;
        display: flex;
    }
}

@media (max-width: 817px){
    #logo h3{
        font-size: 0px;
    }

    #logo{
     width: 3%;
     margin-left: 2%;
     margin-right: 0%;
     margin-bottom: 10%;
     display: inline-block;
    }
  
    #menu{
        width:92%;   
        display: inline-block;     
    }
    #menu ul li {
        font-size: 14px;
        display: inline-block;
        margin-top: 3%;
        margin-right: 0.5%;
      
    }
}
