<header id="header">
  <div id="capa">
    <div id="logo">
      <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../assets/logos/favicon.ico" id="logoi"><h3>Argentina Programa</h3></a>
    </div>
    <nav id="menu">
      <ul>
        <a [routerLink]="['']"><li class="menu-item">HOME</li></a>
        <a [routerLink]="['/projects']"><li class="menu-item">PROYECTOS</li></a>
        <a [routerLink]="['/education']"><li class="menu-item">FORMACION</li></a>
        <a [routerLink]="['/experience']"><li class="menu-item">EXPERIENCIA</li></a>
        <a [routerLink]="['/login']"><li class="cta">LOGIN</li></a>
      </ul>
    </nav>


  </div>

</header>