<div class="pos-f-t">
    <nav class="navbar navbar-dark navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row col-lg-12">
            <div>
                <img src="../assets/logos/APLogo.png" id="logo">
                <!--<img src="../assets/logos/LogosInti.png" id="logo">-->
                <div id="redes">
                    <a href="https://facebook.com/0k4m173n6u"><img src="../assets/logos/fb.png" id="fb"></a>
                    <a href="https://www.instagram.com/tenguokami/"><img src="../assets/logos/ig.png" id="fb"></a>
                    <a href="https://www.linkedin.com/in/sumakorama/"><img src="../assets/logos/ld.webp" id="fb"></a>
                    <a href="https://discordapp.com/users/Kamus Amarok#6006"><img src="../assets/logos/dc.png" id="fb"></a>
                    <a href="https://github.com/sumakorama"><img src="../assets/logos/gh.png" id="fb"></a>
                </div>
            </div>
            
        </div>
        <!--<a href="#" class="navbar-brand font mb-4">PORTFOLIO</a>
        <ul class="main-menu">
          <li class="menu-item">HOME</li>
          <li class="menu-item">PROYECTOS</li>
          <li class="menu-item">FORMACION</li>
          <li class="menu-item">EXPERIENCIA</li>
          <li class="cta">REGISTRARSE</li>
        </ul>-->
      </div>
 
    </nav>
  </div>
<div class="background">
    <div class="row" id="profile-background"><img src="../assets/img/reversoinvertido.jpg"></div>
</div>