<app-navbar></app-navbar>
<!--<img src="../assets/logos/LogosInti.png" id="logo">
            <div id="redes">
              <a href="https://facebook.com/0k4m173n6u"><img src="../assets/logos/fb.png" id="fb"></a>
              <a href="https://www.instagram.com/tenguokami/"><img src="../assets/logos/ig.png" id="fb"></a>
              <a href="https://www.linkedin.com/in/sumakorama/"><img src="../assets/logos/ld.webp" id="fb"></a>
              <a href="https://discordapp.com/users/Kamus Amarok#6006"><img src="../assets/logos/dc.png" id="fb"></a>
              <a href="https://github.com/sumakorama"><img src="../assets/logos/gh.png" id="fb"></a>
            </div>
          </div>-->