#redes {
    float: right;
    width: 300px;
    margin-top: 15px;
    margin-right: 15px;

}

#logo {
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
}

#fb {
    width: 50px;
    border-radius: 8px;
}
