<div class="card-deck">

    <div class="container" *ngIf="Projects">
      <div class="row">
        <div>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="name">Nombre del Proyecto</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Projects.project" required>
            </div>
            <div class="form-group">
              <label for="description">Descripcion</label>
              <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="Projects.description" required>
            </div>
            <div class="form-group">
                <label for="img">Imagen</label>
                <input type="file" class="form-control" id="img" name="img" [(ngModel)]="Projects.img" (change)="upImageP($event)" accept=".jpg, .bmp, .tif">
            </div>
            <br>
            <div class="image">
              <img [src]="upImgPService.url" width="200px">
            </div>
            <button class="btn btn-primary">
              Editar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  