<div class="card-deck">
    <div class="container">
      <div class="row">
        <div>
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="project">Nombre del Proyecto</label>
              <input type="text" class="form-control" id="project" name="project" [(ngModel)]="project" required>
            </div>
            <div class="form-group">
              <label for="description">Descripcion</label>
              <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="description" required>
            </div>
            <div class="form-group">
                <label for="img">Imagen</label>
                <input type="file" (change)="upImage($event)" id="img" name="img" [(ngModel)]="img" (change)="upImage($event)"accept=".gif, .png, .jpg, .bmp, .tif">
            </div>
            <br>
            <div class="image">
              <img [src]="upImgPService.url" width="300px">
            </div>
            <button class="btn btn-primary">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  