<div class="card-deck" >
    <div class="container">
      <div class="row">
        <div>
          <form (ngSubmit)="saveNewProject()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="project">Nombre del Proyecto</label>
              <input type="text" class="form-control" id="project" name="project" [(ngModel)]="projects.project" required>
            </div>
            <div class="form-group">
              <label for="description">Descripcion</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="projects.description" required>
            </div>
            <div class="form-group">
                <label for="img">Imagen</label>
                <input type="text" (change)="upImage($event)" accept=".gif, .png, .jpg, .bmp, .tif" id="img" name="img" [(ngModel)]="projects.img" >
            </div>
            
            
            <button class="btn btn-primary" >
              Agregar
            </button>
          </form>
          <div class="image">
            <img [src]="projects.img" width="150px">
          </div>
        </div>
      </div>
    </div>
  </div>
  