<div class="container" *ngIf="Projects">

    <div class="row">
        <h1 class="title">Proyectos</h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/newprojects" *ngIf="isLogged">
                Agregar Proyecto
            </button>
        </div>
        <div class="card-deck" *ngFor="let Project of Projects">
            <section id="articles">
                <article>
                    <div class="card">
                        <div>
                            <img class="card-img-top" src={{Project.img}} alt="">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">{{Project.project}}</h2>
                        </div>
                        <div>
                            <p id="text-acercade">{{Project.description}}</p>
                        </div>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editprojects/{{Project.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Project.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </td>

                    </div>
                </article>

            </section>
        </div>
    </div>
</div>