<div *ngIf="projects">
    <div class="row">
        <h1 class="title">Proyectos</h1>
        <div>
            <button type="button" class="btn btn-dark" routerLink="/newprojects" *ngIf="isLogged">
                Agregar Proyecto
            </button>
        </div>
        <div class="card-deck" *ngFor="let projects of projects">
            <div>
                <img class="card-img-top" src={{projects.img}} alt="">
            </div>
            <div class="card-body">
                <h2 class="card-title">{{projects.project}}</h2>
            </div>
            <div>
                <p id="text-acercade">{{projects.description}}</p>
            </div>
            <td *ngIf="isLogged">
                <button class="btn btn-primary" routerLink="/editprojects/{{projects.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-primary" (click)="delete(projects.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>
            </td>
        </div>
    </div>
</div>