.clearfix{
    float: none;
    clear: both;
}
.row{
    background-color:rgba(12, 86, 223, 0.7);
    margin-top: 2.5%;
    min-height: auto;
    display: flex;    
    border-radius: 10px;
    margin: 2%;
}
.title{
    margin-bottom: 1%;
}
#articles article{
    width:80%;
    height: auto;
    float: none;
    text-align: center;
    margin: 2%;
    display: flex;
    
}
.body{
    margin: 2px;
}

.img-top1{
    margin: 2%;
    position:sticky;
    width: 300px;
    border-radius: 200px;    
}

.img-top{
    margin: 2%;
    position:sticky;
    width: 300px;
    border-radius: 20px;
}

h2{
    color: azure;
    font-family: acme;
}
h1{
    color: azure;
    font-family: acme;
}
p{
    color: azure;
    font-family: acme;
}
@media (max-width:666px){
    .row{
        display: block;
    }
    .img-top{
        width: 100px;
    }
    .img-top1{
        width: 100px;
    }
}