.row{
    background-color:rgba(12, 86, 223, 0.7);
    margin-top: 0%;
    min-height: auto;
    min-width: 96%;
    display: inline-block;    
    border-radius: 10px;
    margin: 2%;
}
.card-deck{
    width:95%;
    height: auto;
    float: none;
    text-align: -webkit-center;
    margin: 2%;
    
}
.title{
    margin-bottom: 1%;
}
.boton{
    align-items: center;
}

td{
    width: auto;
    margin: 1px;
}
.body{
    margin: 2px;
}


h1{
    margin-left: 3%;
    margin-bottom: 2px;
    color: azure;
    font-family: acme;
}

h2 {
    color: azure;
    font-family: acme;
}

p{
    color: azure;
    font-family: acme;
}
@media (max-width:666px){
    .row{
        display: block;
    }
    .img-top{
        width: 100px;
    }
    .img-top1{
        width: 100px;
    }
    h1 {
        margin-left: 5%;
        margin-top: 2px;
        margin-bottom: 2px;
        color: azure;
        font-family: acme;
    }
}