<div class="row row-cols-1 row-cols-md-3 g-4">
    <h1>Skills</h1>
    <div>
        <circle-progress [percent]="65" [imageSrc]="'../../../assets/skills/ts.png'" [showImage]="true"
            [imageWidth]="100" [imageHeight]="100"></circle-progress>
    </div>
    <div>
        <circle-progress [percent]="70" [imageSrc]="'../../../assets/skills/ng.png'" [showImage]="true"
            [imageWidth]="100" [imageHeight]="100"></circle-progress>
    </div>
    <div>
        <circle-progress [percent]="78" [imageSrc]="'../../../assets/skills/ndjs.png'" [showImage]="true"
            [imageWidth]="100" [imageHeight]="100"></circle-progress>
    </div>
    <div>
        <circle-progress [percent]="100" [imageSrc]="'../../../assets/skills/jshtmlcss.png'" [showImage]="true"
            [imageWidth]="100" [imageHeight]="100"></circle-progress>
    </div>
    <div>
        <circle-progress [percent]="64" [imageSrc]="'../../../assets/skills/bts.png'" [showImage]="true"
            [imageWidth]="100" [imageHeight]="100"></circle-progress>
    </div>
</div>