.row{
    margin-top: 2.5%;
    display: flex;    
    background-color:rgba(12, 86, 223, 0.7);
    border-radius: 10px;
}
.card{
    width:auto;
}
div{
    margin:2%;
}
#info-data{
    text-align: left;
    margin-left: 2%;
    font-family: acme;
    color: azure;
}

#info-company{
    color: azure;
    font-family: acme;
    font-size: 20px;
}
#info-contact{
    color: azure;
    font-family: acme;
    font-size: 20px;
}

h2{
    color: azure;
    font-family: acme;
}
h1{
    margin-left: 3%;
    color: azure;
    font-family: acme;
}
p{
    color: azure;
    font-family: acme;
}
@media (max-widht:666px){
    h1 {
        margin-left: 5%;
        margin-top: 2px;
        margin-bottom: 2px;
        color: azure;
        font-family: acme;
    }
    h2 {
        color: azure;
        font-family: acme;
    }
}