
.font{
    font-family: 'Mouse Memoirs', sans-serif;
}
@font-face {
    font-family: acme;
    src: url("/assets/fonts/Acme/Acme-Regular.ttf");
}

body{
    background: url("./assets/pictures/pattern15.webp") fixed;
    background-size: 100%;    
    position: relative;
    
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
