
.font{
    font-family: 'Mouse Memoirs', sans-serif;
}
@font-face {
    font-family: acme;
    src: url("/assets/fonts/Acme/Acme-Regular.ttf");
}

body{
    background: url("./assets/pictures/pattern8.jpg") fixed;
    background-size: 100%;
    position: relative;
}
.wrap{
    width: 90%;
    margin: 0px auto;
}