<div class="card-deck">
  <div class="card">
    <h1>Experiencia</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/newexp" *ngIf="isLogged">

      </button>
    </div>
    <div class="card" style="width: 18rem;">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experience of expe">
            <td>{{Experience.nameE}}</td>
            <td>{{Experience.descriptionExp}}</td>
            <td>{{Experience.descriptionExp}}</td>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editexp/{{Experience.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Experience.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
